---
layout: default
title: "Alternative Health"
description: ""
---

{% include navigation.html %}

<div class="bg-white">
  <div class="relative overflow-hidden">
    <div class="relative pt-6 pb-8 sm:pb-12">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:mt-16">
        <div class="text-center">
          <h1 class="pb-8 text-4xl sm:text-5xl md:text-6xl md:leading-snug font-black text-gray-800 tracking-snug text-center leading-tight">Alternative Health</h1>
          <p class="text-gray-700 text-lg md:text-2xl md:leading-relaxed text-center mx-auto max-w-3xl">Many individuals whom the COVID-19 vaccines have harmed are seeking alternative methods to assist themselves and have been left to work things out for themselves, many feeling like the health systems have let them down.</p>
          <div class="pt-12 flex justify-center text-blue-300">
            <svg width="204" height="14" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor" fill-rule="evenodd"><path d="M.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM93.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834C75.59 1.552 79.225.063 82.92.003 86.633 0 90.273 1.405 92.95 3.986c.3.16.503.412.591.7z"></path><g><path d="M112.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM203.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834 2.615-2.562 6.25-4.051 9.946-4.111 3.712-.002 7.352 1.402 10.029 3.983.3.16.503.412.591.7z"></path></g></g></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="max-w-screen-xl mx-auto container">
  <div class="mx-auto items-center px-6 pt-10">
    <h2 class="pb-4 text-3xl md:text-4xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Disclaimer</h2>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      VIBJSY strives to ensure that the information provided on its official website is accurate at the
      time of publication, timely, unbiased and helpful. We will respond to specific questions in a
      balanced and informative manner.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      However, the information on the site and responses should be considered something other than
      medical guidance or professional advice.
    </p>
  </div>
  <div class="py-10 flex justify-center text-blue-300">
    <svg width="204" height="14" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor" fill-rule="evenodd"><path d="M.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM93.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834C75.59 1.552 79.225.063 82.92.003 86.633 0 90.273 1.405 92.95 3.986c.3.16.503.412.591.7z"></path><g><path d="M112.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM203.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834 2.615-2.562 6.25-4.051 9.946-4.111 3.712-.002 7.352 1.402 10.029 3.983.3.16.503.412.591.7z"></path></g></g></svg>
  </div>
</div>

<div class="max-w-screen-xl mx-auto container">
  <div class="mx-auto items-center px-6 pt-10">
    <h2 class="pb-4 text-3xl md:text-4xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Alternative Health Options</h2>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      We are connected to a broader network of Vaccine Injury Support Groups globally. There are
      common themes related to the injuries being seen and the treatments being used.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Although none of the content here is considered medical advice, we share information regarding
      what some have found helpful. That said, we are all unique in our composition, and what is
      suitable for one is only sometimes great for another. It is, therefore, the responsibility of each
      individual to do their research thoroughly and become comfortable with anything they wish to
      explore.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      I've listed a few known alternative options in no particular order. All can have merit and should be
      considered individually.
    </p>
  </div>
</div>

<div class="max-w-screen-xl mx-auto container">
  <div class="mx-auto items-center px-6 pt-10">
    <h3 class="pb-4 text-2xl md:text-3xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Oxygen Therapy</h3>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Has been seen to be a highly effective and relatively inexpensive treatment for anyone suffering from brain fog is Oxygen Therapy.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Jersey is lucky to have access to our Oxygen Centre at the bottom of Trinity Hill. We recommend
      contacting the Oxygen Centre to discuss your conditions and whether you may benefit from using
      the Oxygen Chambers. Generally, you need to have around 20 sessions until you have hit optimal
      levels of oxygen saturation, and then you can keep topping up with less frequent sessions.
      To find out more contact the <a href="http://sm3.users68.interdns.co.uk/book-online/" class="text-blue-800" target="_blank">Oxygen Centre directly via their website</a>.
    </p>

    <h3 class="pb-4 text-2xl md:text-3xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Intermittent Fasting</h3>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Fasting is free and effective and has been provided to assist with various issues. It allows the
      body to rest effectively, giving the organs time to heal. There are many ways you can fast. Some
      people fast daily by skipping breakfast and eating as late as possible. It is an excellent way to
      reduce body inflammation generally.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Moreover, intermittent fasting has been linked to potential longevity benefits and improved cellular
      health through autophagy and mitochondrial biogenesis mechanisms. Autophagy is a cellular
      process that removes damaged components and recycles them for energy, which is believed to
      promote longevity and protect against age-related diseases. Mitochondrial biogenesis involves the
      creation of new mitochondria, the energy powerhouses of cells, which can enhance cellular
      function and resilience. It is known that the COVID-19 vaccines impair the mitochondria. As such,
      fasting can help create new mitochondria.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Intermittent fasting may also benefit cognitive function and brain health. Some research suggests
      that fasting can stimulate the production of brain-derived neurotrophic factor (BDNF), a protein that
      supports the growth and maintenance of neurons. Increased BDNF levels have been associated
      with improved mood, cognitive function, and protection against neurodegenerative diseases.
    </p>

    <h3 class="pb-4 text-2xl md:text-3xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">New Vision Therapy</h3>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      This groundbreaking treatment aims to assess the root cause by combining Upledger Cranio
      Sacral Therapy and powerful acupressure points to help balance the central nervous system. The
      nervous system controls and coordinates all organs and structures of the body. When the nervous
      system is in balance, the body can begin to balance itself and allow for healing within.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      New Vision Therapy is a gentle, safe, and noninvasive neurological approach to bodywork that
      focuses on releasing restrictions that negatively influence the performance of the central nervous
      system. See <a href="https://www.newvisiontherapy.co.uk/about/meet-the-team/" class="text-blue-800" target="_blank">https://www.newvisiontherapy.co.uk/about/meet-the-team/</a> for more information.
    </p>

    <h3 class="pb-4 text-2xl md:text-3xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Phytobiophysics</h3>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      A treatment centred based on frequency medicine of the natural type. Flower essences vibrate on
      the frequency of colour. They offer access to powerful vibrational formulas which contain no toxic
      substances. They can support us and encourage our innate healing ability on spiritual, emotional,
      mental, and physical levels. Phytobiophysics is, therefore, a deep healing option.
    </p>

    <h3 class="pb-4 text-2xl md:text-3xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Diet</h3>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Considering what we are fueling our bodies with is very important, irrespective of whether we are
      vaccine-injured or not. If you think that we are really what we eat, if we eat junk, we feel rubbish.
      Eating as clean as possible is always recommended: no processed foods, no additives, etc.
    </p>

    <h3 class="pb-4 text-2xl md:text-3xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Metal Detox</h3>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      There are multiple ways to detox from metals, and metal detox sprays are available on the market. see <a href="https://trs-uk.com/" class="text-blue-800" target="_blank">https://trs-uk.com/</a> for some examples.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Detox Smoothies are a great way to incorporate healthy foods while benefiting the detox process.
      The Medical Medium has a detox Smoothie, which tastes great! Here's the recipe: <a href="https://www.medicalmedium.com/blog/medical-medium-heavy-metal-detox-smoothie" class="text-blue-800" target="_blank">https://www.medicalmedium.com/blog/medical-medium-heavy-metal-detox-smoothie</a>
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Ioncleans is a device that can safely remove toxins from the body by placing the feet in a foot spa
      connected to the device. The device creates currents through the water (positive and negative
      charges) that respond to metals in the body.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      One thing to consider is that all detoxes can result in reactions in themselves as undesirable
      elements start to leave the body and can make us feel unwell. This is a natural part of detox, and
      we should ensure we have sufficient clean mineral water (NOT Jersey tap water!) to support
      ourselves.</p>

    <h3 class="pb-4 text-2xl md:text-3xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Functional Health Practitioners</h3>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      One common theme following vaccine injury is that individuals do not wish to approach the
      medical system because they feel they have been let down. One option to consider is that of a
      functional health practitioner. These individuals work more holistically to consider the root causes
      of sickness rather than what may present as the symptom. This can be a refreshing take on health
      care for many who are often left feeling like they are being ignored and passed around the system.
    </p>
    <p class="pb-32 text-gray-600 text-lg md:text-xl md:leading-loose">
      Jersey has many functional health practitioners whom you may like to contact.
    </p>
  </div>
</div>

{% include footer.html %}
