---
layout: default
title: ""
description: ""
---

{% include navigation.html %}

<div class="bg-white">
  <div class="relative overflow-hidden">
    <div class="relative pt-6 pb-16 sm:pb-24">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:mt-16">
        <div class="text-center">
          <h1 class="pb-8 text-4xl sm:text-5xl md:text-6xl md:leading-snug font-black text-gray-800 tracking-snug text-center leading-tight">
            <span class="relative">Vaccine Injured &amp; Bereaved Jersey</span>
            <br class="md:visible">
            <span class="relative z-10 text-3xl sm:text-4xl md:text-5xl ">Created by the People for the People</span>
          </h1>
          <p class="text-gray-700 text-lg md:text-2xl md:leading-relaxed text-center">
            Here to support the local community in Jersey and the Channel Islands who are suffering
            physically and mentally from Vaccine Injury and those who have lost loved ones suddenly
            following vaccination.
          </p>

          <div class="pt-12 flex justify-center text-blue-300">
            <svg width="204" height="14" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor" fill-rule="evenodd"><path d="M.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM93.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834C75.59 1.552 79.225.063 82.92.003 86.633 0 90.273 1.405 92.95 3.986c.3.16.503.412.591.7z"></path><g><path d="M112.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM203.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834 2.615-2.562 6.25-4.051 9.946-4.111 3.712-.002 7.352 1.402 10.029 3.983.3.16.503.412.591.7z"></path></g></g></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="max-w-screen-xl mx-auto container">
  <div class="mx-auto md:flex items-center px-6 pt-10 md:pt-16">
    <div class="md:w-3/4 md:pr-24 pb-8">
      <h2 class="pb-4 text-3xl md:text-4xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Our Mission</h2>
      <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
        VIBJSY is here to support Vaccine Injury, lacking in Jersey. We believe that no one should
        suffer in silence and should never be made to feel that they are not worthy of help or support.
        Our goal is to bring about positive change for the injured, both emotionally and through practical
        support, while simultaneously removing barriers to healthcare (diagnosis and treatment).
      </p>
      <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
        We also aim to raise awareness of the issues faced by our community members and help remove
        ignorance through open dialogue and discussions.
      </p>
      <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
        We want to raise awareness of the issues that have resulted in harm. Many people have yet to
        consider that the changes in their health are potentially a result of the experimental COVID-19
        vaccines. We hope to share information to let others consider whether they have been impacted
        and look at ways we can assist.
      </p>
      <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
        Our goal is to seek redress for the harm caused. We wish to obtain recognition and acceptance of
        the injuries and deaths suffered, which have been felt by a section of our community.
      </p>
      <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
        In addition, we would like to seek reform of the vaccine space to ensure positive change for our
        collective community. This would allow for better information around risk vs reward through
        informed consent and ensure there are provisions for compensation should any adverse events
        result.
      </p>
    </div>
    <div class="relative flex md:w-1/4">
      <div class="absolute inset-0 bg-red-200 rounded-lg transform rotate-3 origin-bottom-right"></div>
      <div class="rounded-lg shadow z-10">
        <div class="bg-white rounded-lg p-3 md:p-6 shadow-lg">
          <div class="rounded-md overflow-hidden">
            <img src="/assets/images/panels/pexels-artem-podrez-5878501.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-12 flex justify-center text-blue-300">
    <svg width="204" height="14" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor" fill-rule="evenodd"><path d="M.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM93.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834C75.59 1.552 79.225.063 82.92.003 86.633 0 90.273 1.405 92.95 3.986c.3.16.503.412.591.7z"></path><g><path d="M112.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM203.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834 2.615-2.562 6.25-4.051 9.946-4.111 3.712-.002 7.352 1.402 10.029 3.983.3.16.503.412.591.7z"></path></g></g></svg>
  </div>
</div>

<div class="max-w-screen-xl mx-auto container">
  <div class="mx-auto md:flex flex-row-reverse items-center px-6 pt-20 pb-10 md:pt-36 md:pb-16">
    <div class="md:w-2/3 md:pl-24 pb-8">
      <h2 class="pb-4 text-3xl md:text-4xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Welcome Packs</h2>
      <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">If you would like to obtain a copy of the VIBJSY welcome pack, please click here. Our Welcome pack contains valuable and practical information to help you in the minefield of vaccine injury.</p>
      <div class="pt-4 pb-10 flex justify-start text-blue-300">
        <svg width="204" height="14" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor" fill-rule="evenodd"><path d="M.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM93.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834C75.59 1.552 79.225.063 82.92.003 86.633 0 90.273 1.405 92.95 3.986c.3.16.503.412.591.7z"></path><g><path d="M112.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM203.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834 2.615-2.562 6.25-4.051 9.946-4.111 3.712-.002 7.352 1.402 10.029 3.983.3.16.503.412.591.7z"></path></g></g></svg>
      </div>
      <h3 class="pb-4 text-2xl md:text-3xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Finding Each Other</h3>
      <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">It is essential that we find each other. Bringing our community together to support each other is a positive step in the right direction. Simply put, we are so much stronger together.</p>
      <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">We hold face-to-face meet-ups. This allows us to connect with people in the same situation, which can be a great comfort to those suffering personally and to those supporting loved ones who are suffering. We also hold Zoom calls to check in and provide updates.</p>
    </div>
    <div class="relative flex md:w-1/3">
      <div class="absolute inset-0 bg-blue-200 rounded-lg transform -rotate-3 origin-bottom-left"></div>
      <div class="rounded-lg shadow z-10">
        <div class="bg-white rounded-lg p-3 md:p-6 shadow-lg">
          <div class="rounded-md overflow-hidden">
            <img src="/assets/images/panels/pexels-amina-filkins-5414000.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="max-w-screen-xl mx-auto container">
  <div class="lg:flex w-full px-6 lg:space-x-12 pb-16 md:pb-20 space-y-6 lg:space-y-0">
    <div class="relative flex lg:w-1/3">
      <div class="rounded-lg z-10">
        <div class="flex flex-col bg-white rounded-lg p-6 shadow-lg text-xl text-center border-t-4 border-yellow-300">
          <a href="mailto:info@vibjsy.org">
            <img src="/assets/images/panels/email.png" width="400" height="400" class="block mx-auto w-24 h-24" alt="">
          </a>
          <p class="flex-grow py-6 text-gray-500 leading-relaxed">We aim to reply within 24 hours to all emails.</p>
          <div class="text-gray-700 font-medium"><a href="mailto:info@vibjsy.org">info@vibjsy.org</a></div>
        </div>
      </div>
    </div>
    <div class="relative flex lg:w-1/3 transform">
      <div class="rounded-lg z-10">
        <div class="flex flex-col bg-white rounded-lg p-6 shadow-lg text-xl text-center border-t-4 border-blue-300">
          <a href="https://facebook.com/VIBJSY">
            <img src="/assets/images/panels/facebook.png" width="400" height="400" class="block mx-auto w-24 h-24" alt="">
          </a>
          <p class="flex-grow py-6 text-gray-500 leading-relaxed">We also have a growing active community on Facebook.</p>
          <div class="text-gray-700 font-medium"><a href="https://facebook.com/VIBJSY">facebook.com/VIBJSY</a></div>
        </div>
      </div>
    </div>
    <div class="relative flex lg:w-1/3 transform">
      <div class="rounded-lg z-10">
        <div class="flex flex-col bg-white rounded-lg p-6 shadow-lg text-xl text-center border-t-4 border-green-300">
          <a href="https://instagram.com/VIBJSY">
            <img src="/assets/images/panels/instagram.png" width="400" height="400" class="block mx-auto w-24 h-24" alt="">
          </a>
          <p class="flex-grow py-6 text-gray-500 leading-relaxed">And an Instagram account with a range of information.</p>
          <div class="text-gray-700 font-medium"><a href="https://instagram.com/VIBJSY">instagram.com/VIBJSY</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
