---
layout: default
title: "Privacy Policy"
description: ""
---

{% include navigation.html %}

<div class="relative pt-8 pb-16 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h2>
        <span class="mt-2 block text-3xl text-center leading-normal font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-normal">Privacy Policy</span>
      </h2>
    </div>
    <div class="mt-6 prose prose-indigo prose-xl text-gray-500 mx-auto">


      <p>We are not in the business of making money from your data. Everything we collect is used exclusively to help us provide you with the best service possible.</p>

      <h3>Personal Information</h3>

      <p>When you contact us with a question or to ask
        for help, we’ll keep that correspondence, and the email address,
        for future reference.</p>

      <p><strong>The only times we’ll ever share your info:</strong></p>

      <ul>
        <li>To provide products or services you’ve requested, with your permission.</li>
        <li>To investigate, prevent, or take action regarding illegal
          activities, suspected fraud, situations involving potential
          threats to the physical safety of any person
          or as otherwise required by law.</li>
      </ul>

      <h3>Your Rights With Respect to Your Information</h3>

      <p>You may have heard about the General Data Protection
        Regulation (“GDPR”) in Europe. GDPR gives people under its
        protection certain rights with respect to their personal
        information collected by us on the Site. Accordingly, we
        recognise and comply with GDPR and those rights, except as
        limited by applicable law. The rights under GDPR include:</p>

      <ul>
        <li>Right of Access</li>
        <li>Right to Correction</li>
        <lI>Right to Erasure</li>
        <li>Right to Complain</li>
        <li>Right to Restrict Processing</li>
        <li>Right to Object</li>
        <li>Right to Portability</li>
        <li>Right to not be subject to Automated Decision-Making</li>
      </ul>

      <p>If you have questions about exercising these rights or need
        assistance, please contact us at info@vibjsy.org.</p>

      <h3>Processors we use</h3>

      <p>As part of the services we provide, and only to the extent
        necessary, we may use certain third party processors to
        process some or all of your personal information.</p>

      <ul>
        <li>Protonmail</li>
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>

      <h3>Law enforcement</h3>

      <p>We won’t hand your data over to law enforcement unless a
        court order says we have to. We reject requests from
        law enforcement when they seek data without
        a court order. And unless we’re legally prevented from it,
        we’ll always inform you when such requests are made.</p>

      <h3>Security & Encryption</h3>

      <p>All data is encrypted via SSL/TLS when transmitted from our
        servers to your browser.</p>

      <h3>Data Retention</h3>

      <p>
        Server logs are not retained in any way. For emails, we will retain them for as long as necessary to provide you with support. You can request we delete your emails at any time.
      </p>

      <h3>Location of Site and Data</h3>

      <p>This website is intended for use by residents in Jersey. If you are
        located elsewhere, please be aware that any information you
        provide to us will be transferred to Jersey. By
        using our website, participating in any of our services and/or
        providing us with your information, you consent to this
        transfer.</p>

      <h3>Changes & questions</h3>

      <p>We may update this policy. We’ll notify you about
        significant changes by emailing the account owner. You can
        access, change or delete your personal information at any time
        by contacting us.</p>

      <p>Questions about this privacy policy? Please get in touch and we’ll be happy to answer them.</p>
    </div>
  </div>
</div>

{% include footer.html %}
