---
layout: default
title: "About VIBJSY"
description: ""
---

{% include navigation.html %}

<div class="bg-white">
  <div class="relative overflow-hidden">
    <div class="relative pt-6 pb-8 sm:pb-12">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:mt-16">
        <div class="text-center">
          <h1 class="pb-8 text-4xl sm:text-5xl md:text-6xl md:leading-snug font-black text-gray-800 tracking-snug text-center leading-tight">Vaccine Damage Compensation Schemes</h1>
          <p class="text-gray-700 text-lg md:text-2xl md:leading-relaxed text-center mx-auto max-w-3xl">At the time of writing, individuals based on Jersey, impacted by the vaccines can still not access the UK Vaccine Damage Compensation Scheme or Jersey's own scheme.</p>
          <div class="pt-12 flex justify-center text-blue-300">
            <svg width="204" height="14" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor" fill-rule="evenodd"><path d="M.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM93.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834C75.59 1.552 79.225.063 82.92.003 86.633 0 90.273 1.405 92.95 3.986c.3.16.503.412.591.7z"></path><g><path d="M112.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM203.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834 2.615-2.562 6.25-4.051 9.946-4.111 3.712-.002 7.352 1.402 10.029 3.983.3.16.503.412.591.7z"></path></g></g></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="max-w-screen-xl mx-auto container">
  <div class="mx-auto items-center px-6 pt-10">
    <h2 class="pb-4 text-3xl md:text-4xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Vaccine Damage Compensation Scheme - Jersey</h2>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      At the time of the Covid Vaccine roll out in Jersey there was no access to the UK Vaccine
      Payment Scheme. It was confirmed by the UK Government that the supplier indemnity will remain
      in place. Thereby safeguarding suppliers of Vaccines against prosecution.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      <a href="https://www.gov.je/benefits/sicknessinjury/pages/vaccinedamagepayment.aspx" class="text-indigo-600" target="_blank">Jersey Government announced on 13th May 2024</a> that Jersey residents are now able to make applications to the UK Vaccine Damage Payment Scheme via the NHS Business Services Authority. Information, including the scheme’s eligibility criteria and how to make a claim, is available on its website at <a href="https://www.nhsbsa.nhs.uk/vaccine-damage-payment-jersey" class="text-indigo-600" target="_blank">https://www.nhsbsa.nhs.uk/vaccine-damage-payment-jersey</a>.
    </p>


    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Alternatively, application forms may be obtained by contacting the Vaccine Damage Payment Scheme by:
    </p>

    <ul class="list-disc text-gray-600 text-lg md:text-xl md:leading-loose pl-10 mb-6">
      <li>Email – <a href="mailto:vdpsjersey@nhsbsa.nhs.uk" class="text-indigo-600" target="_blank">vdpsjersey@nhsbsa.nhs.uk</a></li>
      <li>Call – <a href="tel:+443003300013" class="text-indigo-600" target="_blank">0300 330 0013</a> (lines open Monday to Friday 8am to 4.30pm)</li>
      <li>Write to – NHS Business Services Authority, Vaccine Damage Payment Scheme, Unit 5 Greenfinch Way, Newburn Industrial Estate, Newburn, NE15 8NX</li>
    </ul>

    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Should you feel that you have been damaged from the Covid Vaccines or have lost a loved one from the covid vaccine you are able to seek payment under the scheme. It is however noted that the scheme is part of the UK scheme which does not appear to be fit for purpose. There are currently calls for the scheme to be reformed by those in the UK who have tried to claim but are not currently meeting the criteria of being “injured enough” or are having claims refused due to the inability to link their injures to the vaccine directly.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      VIBJSY support the position of total reform of the current scheme as we do not believe that the current scheme in its existing form will support very few if any locals due to its outdated structure and criteria.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      If you require further information on the application process, please contact the NHSBSA using the contact information above.  Policy related queries should be directed to the Government of Jersey by emailing <a href="mailto: vaccinedamages@gov.je" class="text-indigo-600" target="_blank">vaccinedamages@gov.je</a>.
    </p>




  </div>
  <div class="py-10 flex justify-center text-blue-300">
    <svg width="204" height="14" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor" fill-rule="evenodd"><path d="M.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM93.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834C75.59 1.552 79.225.063 82.92.003 86.633 0 90.273 1.405 92.95 3.986c.3.16.503.412.591.7z"></path><g><path d="M112.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM203.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834 2.615-2.562 6.25-4.051 9.946-4.111 3.712-.002 7.352 1.402 10.029 3.983.3.16.503.412.591.7z"></path></g></g></svg>
  </div>
</div>

<div class="max-w-screen-xl mx-auto container">
  <div class="mx-auto items-center px-6 pt-10">
    <h2 class="pb-4 text-3xl md:text-4xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">UK Vaccine Damage Payment Scheme</h2>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Data demonstrates that the UK Scheme has issues, making it difficult for the vast majority of
      vaccine-injured people to process claims successfully. Therefore, it is no surprise that the UK
      Vaccine Injury support groups are seeking urgent total reform. VIBJSY is concerned that the
      Jersey Government will roll out either the same scheme here in Jersey or arrange for the
      community to assess the UK scheme, which is not t for the purpose.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Currently, the UK scheme requires that you are assessed to have over 60% disability, which is
      attributed to the COVID-19 vaccine. It is also capped at £120,000, which is not sufficient. Many of
      the claims are being rejected due to “causation”.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Data shows that of 4,447 claimants whose claim does not relate to Vaccine Induced Immune
      thrombocytopenia and thrombosis (VITT) have been notified of an outcome.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Of the 4,447 claims:
    </p>
    <ul class="list-disc text-gray-600 text-lg md:text-xl md:leading-loose pl-10 mb-6">
      <li>Ninety-four claimants have been notified that they are entitled to a Vaccine Damage Payment.</li>
      <li>4,102 claims were unsuccessful because the independent medical assessor recommended that,
        on the balance of probabilities, the vaccine did not cause the disability in question (causation).</li>
      <li>251 claims were unsuccessful because, although the claims met the criteria for causation, the
        independent medical assessor recommended that the vaccine had not caused severe
        disablement. Under the VDPS, severe disablement means at least 60% disabled, based on
        Schedule 2 of Social Security.</li>
    </ul>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      It is, therefore, essential that the Government of Jersey hear from you. Your voice counts in how you want them to consider what should be put in place to help.
    </p>
    <div class="py-10 flex justify-center text-blue-300">
      <svg width="204" height="14" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor" fill-rule="evenodd"><path d="M.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM93.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834C75.59 1.552 79.225.063 82.92.003 86.633 0 90.273 1.405 92.95 3.986c.3.16.503.412.591.7z"></path><g><path d="M112.835 7.23c-.264-.864-.033-1.753.708-2.42.91-.758 2.285-.742 3.1.09l.112.124a9.767 9.767 0 006.37 3.34c2.362.24 4.745-.389 6.631-1.785l.254-.195c.186-.132.367-.283.548-.442l.557-.494c.096-.083.194-.166.295-.247l.58-.527c.702-.632 1.495-1.31 2.412-1.835 2.201-1.24 4.914-1.629 7.719-1.101 2.083.433 4.232 1.286 6.575 2.773 1.087.674 1.395 2.09.702 3.12-.674 1.088-2.09 1.395-3.12.703-1.932-1.172-3.533-1.878-5.068-2.164-1.743-.348-3.385-.161-4.603.589-.565.314-1.09.758-1.63 1.242l-.546.493-1.635 1.444c-2.854 2.194-6.555 3.263-10.183 2.925-3.57-.356-7.01-2.137-9.36-4.88a1.922 1.922 0 01-.418-.753zM203.541 4.686c.38.828.24 1.815-.424 2.521-.843.95-2.348.97-3.297.127-1.86-1.76-4.35-2.698-6.806-2.702a9.87 9.87 0 00-6.533 2.539l-.238.223a6.299 6.299 0 00-.628.648l-.418.49c-.073.085-.148.171-.226.258l-.82.908c-.566.62-1.183 1.257-1.933 1.822-2.056 1.51-4.796 2.221-7.703 1.977-2.204-.207-4.415-.853-7.01-2.136-1.185-.582-1.665-1.946-1.083-3.13.502-1.12 1.829-1.623 2.93-1.135l.143.069c2.069 1.004 3.807 1.542 5.364 1.695 1.806.14 3.452-.237 4.635-1.102.66-.517 1.326-1.223 1.973-1.988l.732-.822c.253-.281.512-.565.776-.834 2.615-2.562 6.25-4.051 9.946-4.111 3.712-.002 7.352 1.402 10.029 3.983.3.16.503.412.591.7z"></path></g></g></svg>
    </div>
  </div>
</div>

<div class="max-w-screen-xl mx-auto container">
  <div class="mx-auto items-center px-6 pt-10">
    <h3 class="pb-4 text-2xl md:text-3xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Have I been physically injured?</h3>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Many people have been unwell since receiving their COVID-19 vaccines. Some have mild
      symptoms; others are much more notable and often life-changing. If you have been impacted and
      want to talk to us about what you have been through to share with the non-judgement, you are
      welcome to contact us.
    </p>

    <h3 class="pb-4 text-2xl md:text-3xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Are you suffering from mental health issues?</h3>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Our thoughts create how we feel, and when we are in a complex health situation, our thoughts
      can spiral out of control, rendering us unable to take positive steps forward.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      The mental weight of the past years after 2020 should not be underestimated. The entire
      community has been impacted in various ways. Not all will have suffered injury, and those who
      have can often be left feeling misunderstood, disregarded, and not believed. These reactions can
      add further distress, so we must care for our minds, which will aid in our healing journey generally.
      Meditation can be a powerful tool. It gives us a little quiet time to escape the noise and can bring
      some rest and relaxation.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Breath work is another straightforward but effective tool we can each use for free to help us. Give
      yourself 5 minutes a day for a month to follow a structured breath work practice, such as the Wim
      Hof method, and see how you feel.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Switch the News Off!
      I can not stress this enough. The news is a simple and effective way to shift our emotions based
      on our thoughts to the negative. There is no balance to the reported news; the information
      presented is biased and loaded with negativity. Switch it off. It doesn’t help any of our mental
      health. Replace it with more uplifting options. Positive podcasts are something to consider.
    </p>

    <h3 class="pb-4 text-2xl md:text-3xl md:leading-tight font-bold text-gray-900 tracking-snug leading-none">Have you lost someone you love suddenly?</h3>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Having lost my father suddenly, I know first-hand the utter shock and disbelief that can follow
      such an unexpected death. We didn’t know about the process grief can take and how it can
      consume you and derail your life. It is difficult to describe how people who have lost someone
      suddenly can be left to try and make sense of what has happened and piece their lives together.
      Not everyone will understand this feeling and the following emotions: disbelief, shock, anger,
      heartbreak, numbness, loss of purpose and direction.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      I would highly recommend anyone suffering from complex emotions of grief reach out to us for a
      chat. We are not registered counsellors, but we are human and understand.
    </p>
    <p class="pb-6 text-gray-600 text-lg md:text-xl md:leading-loose">
      Anyone who would like to get formal counselling can also explore other professional routes.
      Jersey Hospice runs counselling services for bereaved family members.
    </p>
    <p class="pb-32 text-gray-600 text-lg md:text-xl md:leading-loose">
      Other options available: <a href="https://www.gov.je/Health/Mental/pages/jerseytalkingtherapies.aspx#anchor-2" class="text-blue-900" target="_blank">https://www.gov.je/Health/Mental/pages/jerseytalkingtherapies.aspx#anchor-2</a>
    </p>
  </div>
</div>

{% include footer.html %}
