<footer class="bg-gray-900 text-gray-400">
  <div class="max-w-screen-xl mx-auto container">
    <div class="px-6 py-16">
      <div class="lg:flex pb-6">
        <div class="pb-16 flex-grow">
          <div class="pb-8">
            <img src="/assets/images/logo-footer.png" class="w-48" alt="Logo">
          </div>
        </div>
        <div class="w-full lg:w-3/5 sm:flex">
          <div class="pb-10 sm:w-1/3">
            <h4 class="font-bold text-gray-200 leading-5 pb-3">VIBJSY</h4>
            <ul class="space-y-1">
              <li><a class="text-lg hover:underline" href="{% link index.html %}">Home</a></li>
              <li><a class="text-lg hover:underline" href="{% link index.html %}">Our Mission</a></li>
              <li><a class="text-lg hover:underline" href="{% link about.html %}">About Us</a></li>
              <li><a class="text-lg hover:underline" href="{% link useful-links.html %}">Useful Links</a></li>
              <li><a class="text-lg hover:underline" href="{% link alternative-health.html %}">Alternative Health</a></li>
              <li><a class="text-lg hover:underline" href="{% link vaccine-damage-compensation-scheme.html %}">Vaccine Damage Compensation Scheme</a></li>
            </ul>
          </div>
          <div class="pb-10 sm:w-1/3">
            <h4 class="font-bold text-gray-200 leading-5 pb-3">Support</h4>
            <ul class="pb-10 space-y-1">
              <li><a class="text-lg hover:underline" href="mailto:info@vibjsy.org">Send an Email</a></li>
              <li><a class="text-lg hover:underline" href="https://facebook.com/VIBJSY">Facebook</a></li>
              <li><a class="text-lg hover:underline" href="https://instagram.com/VIBJSY">Instagram</a></li>
            </ul>
          </div>
          <div class="pb-10 sm:w-1/3">
            <h4 class="font-bold text-gray-200 leading-5 pb-3">Legal</h4>
            <ul class="space-y-1">
              <li><a class="text-lg hover:underline" href="{% link privacy.html %}">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="md:flex md:items-center md:space-x-6 pt-10 border-t border-gray-700 text-gray-500">
        <div class="pb-6 md:pb-0">&copy; <script type="text/javascript">document.write( new Date().getFullYear() );</script> Vaccine Injured and Bereaved Jersey</div>
      </div>
    </div>
  </div>
</footer>
