<div x-description="Mobile menu, show/hide based on mobile menu state." x-show="mobileMenuOpen" x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden" style="display: none;">
  <div class="rounded-lg shadow-lg">
    <div class="rounded-lg shadow-xs bg-white divide-y-2 divide-gray-50">
      <div class="pt-5 pb-6 px-5 space-y-6">
        <div class="flex items-center justify-between">
          <a href="{% link index.html %}">
            <img class="h-16 w-auto" src="/assets/images/logo.png" alt="VIBJSY">
          </a>
          <div class="-mr-2">
            <button @click="mobileMenuOpen = false" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
        </div>
        <div>
          <nav class="grid gap-6">
            <a href="{% link index.html %}" class="-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-blue-100 transition ease-in-out duration-150">
              <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="chevron-right w-6 h-6 mr-1 text-blue-800"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
              Our Mission
            </a>
            <a href="{% link about.html %}" class="-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-blue-100 transition ease-in-out duration-150">
              <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="chevron-right w-6 h-6 mr-1 text-blue-800"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
              About
            </a>
            <a href="{% link useful-links.html %}" class="-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-blue-100 transition ease-in-out duration-150">
              <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="chevron-right w-6 h-6 mr-1 text-blue-800"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
              Links
            </a>
            <a href="{% link alternative-health.html %}" class="-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-blue-100 transition ease-in-out duration-150">
              <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="chevron-right w-6 h-6 mr-1 text-blue-800"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
              Alternative Health
            </a>
            <a href="{% link vaccine-damage-compensation-scheme.html %}" class="-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-blue-100 transition ease-in-out duration-150">
              <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="chevron-right w-6 h-6 mr-1 text-blue-800"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
              Vaccine Damage Compensation Scheme
            </a>
          </nav>
        </div>
      </div>
      <div class="py-6 px-5 space-y-6">
        <div class="space-y-6">
          <span class="w-full flex rounded-md shadow-sm">
            <a href="" class="w-full flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-blue-800 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition ease-in-out duration-150">
              Contact us
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
