{% assign current = page.url | downcase | split: '/' %}

<div x-data="{ mobileMenuOpen: false }" class="relative z-50">
  <div class="max-w-screen-xl mx-auto flex justify-between items-center px-4 py-6 sm:px-6 md:justify-start md:space-x-10">
    <div>
      <a href="{% link index.html %}" class="flex">
        <img class="h-24 w-auto sm:h-32" src="/assets/images/logo.png" alt="VIBJSY">
      </a>
    </div>
    <div class="-mr-2 -my-2 md:hidden">
      <button @click="mobileMenuOpen = true" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
    <div class="hidden md:flex-1 md:flex md:items-center md:justify-between md:space-x-8">
      <nav class="flex space-x-10">
        <a href="{% link index.html %}" class="text-base leading-6 font-medium focus:outline-none focus:text-blue-800 transition ease-in-out duration-150 {% if current[1] == '' %}text-blue-800 font-bold{% else %}text-blue-900 hover:text-blue-900{% endif %}">
          Our Mission
        </a>
        <a href="{% link about.html %}" class="text-base leading-6 font-medium focus:outline-none focus:text-blue-800 transition ease-in-out duration-150 {% if current[1] == 'about' %}text-blue-800 font-bold{% else %}text-blue-900 hover:text-blue-900{% endif %}">
          About
        </a>
        <a href="{% link useful-links.html %}" class="text-base leading-6 font-medium focus:outline-none focus:text-blue-800 transition ease-in-out duration-150 {% if current[1] == 'useful-links' %}text-blue-800 font-bold{% else %}text-blue-900 hover:text-blue-900{% endif %}">
          Links
        </a>
        <a href="{% link alternative-health.html %}" class="text-base leading-6 font-medium focus:outline-none focus:text-blue-800 transition ease-in-out duration-150 {% if current[1] == 'alternative-health' %}text-blue-800 font-bold{% else %}text-blue-900 hover:text-blue-900{% endif %}">
          Alternative Health
        </a>
        <a href="{% link vaccine-damage-compensation-scheme.html %}" class="text-base leading-6 font-medium focus:outline-none focus:text-blue-800 transition ease-in-out duration-150 {% if current[1] == 'vaccine-damage-compensation-scheme' %}text-blue-800 font-bold{% else %}text-blue-900 hover:text-blue-900{% endif %}">
          Vaccine Damage Compensation Scheme
        </a>
      </nav>
      <div class="flex items-center space-x-4">
        <span class="inline-flex rounded-md shadow-sm">
          <a href="{% link contact.html %}" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-blue-800 hover:bg-blue-600 focus:outline-none focus:border-blue-700 focus:shadow-outline-pink active:bg-blue-700 transition ease-in-out duration-150">
            Get Support
          </a>
        </span>
      </div>
    </div>
  </div>
  {% include navigation-mobile.html %}
</div>
