---
---
/* Front matter is necessary for Jekyll */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.video-viewport {
  height: 460px
}

@media (min-width : 640px) {
  .video-viewport {
    height: 860px
  }
}

.lp-background-image {
  background-image: url("/assets/images/backgrounds/lp-top-bg-party.jpg");
}

.lp-base-background-image {
  background-image: url("/assets/images/backgrounds/lp-base-bg-party.jpg");
}

.lp-background-swish {
  background-image: url("/assets/images/backgrounds/lp-red-paint-stroke.png");
}

.lp-background-swish-sm {
  background-image: url("/assets/images/backgrounds/lp-red-paint-stroke-sm.png");
}