<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {% feed_meta %}
    {% seo %}
    <link rel="stylesheet" href="/assets/css/site.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="/assets/js/application.js"></script>
    <script src="/assets/js/alpine.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest">
  </head>
  <body>
  {{ content }}
  </body>
</html>
