---
layout: default
---

{% include navigation.html %}

<div class="relative bg-white overflow-hidden">

  <div class="hidden sm:block sm:absolute sm:inset-y-0 sm:h-full sm:w-full">
    <div class="relative h-full max-w-screen-xl mx-auto">
      <svg class="absolute left-full transform -translate-y-3/4 -translate-x-1/4 md:-translate-y-1/2 lg:-translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
        <defs>
          <pattern id="svg-pattern-squares-2" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#svg-pattern-squares-2)" />
      </svg>
    </div>
  </div>

  <div class="relative pb-12">
    <div class="mt-10 mx-auto max-w-screen-2xl px-4 sm:mt-12 sm:px-6">
      <div class="text-center">
        <h1 class="mt-1 max-w-screen-lg mx-auto text-3xl tracking-tight leading-10 font-extrabold text-gray-600 sm:leading-none sm:text-5xl lg:text-4xl xl:text-5xl">
          {{ page.title }}
        </h1>
        {% assign categories = page.categories %}
        <p class="mt-4 font-medium">
          Posted in
          {% for category in categories %}
            <span class="text-indigo-600">{{category}}</span>{% unless forloop.last %},{% endunless %}
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="max-w-screen-lg mx-auto pt-4 pb-16 sm:pb-20 px-4 sm:px-6 lg:pb-28 lg:px-8">
  <div class="text-lg leading-8 text-gray-900">
    {{ content }}
  </div>
</div>

{% include footer.html %}
